p {
    margin-bottom: 24px;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 48px;
}

h2 {
    margin-bottom: 24px;
}

nav a:link, nav a:visited {
    color: black;
}

nav a:hover, nav a:active {
    color: #CC092F;
}

nav {
    margin-top: 40px;
}

nav ul {
    display: table;
    margin: auto;
    padding: 0;
}

nav li {
    display: table-cell;
    width: 250px;
    list-style-type: none;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 8px;
    padding-right: 8px;
}

nav a {
    color: black;
}

nav img {
    display: block;
    width: 200px;
    height: 125px;
    margin: auto;
}

nav hgroup {
    width: 200px;
    margin: auto;
    text-align: center;
}

nav h2 {
    font-size: 24px;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 6px;
}

nav h3 {
    font-size: 16px;
    margin: 0;
}

article img {
    width: 100%;
}

.gallery {
    margin-bottom: 20px;
}

.gallery .row {
    border: 5px solid black;
}

.gallery .row + .row {
    border-top: 0;
}

.gallery .col-md-6:first-child {
    border-right: 2.5px solid black;
}

.gallery .col-md-6:last-child {
    border-left: 2.5px solid black;
}

.gallery .col-md-6, .col-md-12 {
    padding: 0px;
}

.gallery .with-legend {
    display: inline;
    position: relative;
    float: left;
}

.gallery .with-legend:after {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 98;
    content: attr(legend);
    color: white;
    font-size: 14px;
}