<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Kimchi & Cheese{% endblock %}</title>
        {% block css %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poly">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <link rel="stylesheet" href="css/base.css">
        {% endblock %}
    </head>

    <body>{% block body %}{% endblock %}</body>
</html>